body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ee6b2f;
}
.pokemon-name {
  padding-left: 50px;
  font-family: 'Source Serif Pro', serif;
  font-size: 50px;
}
ol {
  width: 100%;
  padding: 0;
}
#pokedex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
}
.card {
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 5px;
  width: 200px;
  padding: 0 15px;
}
.card:hover {
  box-shadow: 0 18px 26px 0 rgba(0, 0, 0, 0.2);
}
.card-img {
  height: 100%;
  object-fit: cover;
}
.card-heading {
  font-family: 'Source Serif Pro', serif;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
}
.card-subheading {
  font-family: 'Source Serif Pro', serif;
  color: #000;
}
